toolchain_flow.json
[
    {
        "id": "9d6b8c38551dd5ee",
        "type": "tab",
        "label": "IoT safety",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be1ce9847dc8c98a",
        "type": "http in",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "url": "/currentBehaviorModel",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "178e816e06f7fa53"
            ]
        ]
    },
    {
        "id": "178e816e06f7fa53",
        "type": "template",
        "z": "9d6b8c38551dd5ee",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n\n<img src=\"/behavior.png\"\n     alt=\"Output\"\n     style=\"max-width:100%;height:auto;\" />\n\n</body>\n</html>\n",
        "output": "str",
        "x": 530,
        "y": 580,
        "wires": [
            [
                "de7c30e105fad3fe"
            ]
        ]
    },
    {
        "id": "de7c30e105fad3fe",
        "type": "http response",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "6f3460b17392afe1",
        "type": "http response",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 480,
        "wires": []
    },
    {
        "id": "0b87f759b607030c",
        "type": "http in",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "url": "/analyzeScript",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "6bbd66769d46cc62"
            ]
        ]
    },
    {
        "id": "6bbd66769d46cc62",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload.user = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 260,
        "wires": [
            [
                "47d871dfaf64dd3b"
            ]
        ]
    },
    {
        "id": "c58ae279e87c0352",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "post-process LLM response",
        "func": "msg.payload = msg.payload[0].args.response;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "a0f9099a6dd020b6"
            ]
        ]
    },
    {
        "id": "a0f9099a6dd020b6",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "Render PlantUML",
        "func": "var gen = plantuml.generate(msg.payload);\ngen.out.pipe(fs.createWriteStream(\"C:/Users/Public/behavior.png\"));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "plantuml",
                "module": "node-plantuml"
            },
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 910,
        "y": 260,
        "wires": [
            [
                "9f160178276c3ed6",
                "7aa4afe3a8e2fea3"
            ]
        ]
    },
    {
        "id": "9f160178276c3ed6",
        "type": "debug",
        "z": "9d6b8c38551dd5ee",
        "name": "Preview PlantUML",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "47d871dfaf64dd3b",
        "type": "LLM Chat",
        "z": "9d6b8c38551dd5ee",
        "name": "Construct activity diagram",
        "platform": "fca7f12e28e98b4c",
        "tools": "",
        "tool_choice": "none",
        "conversation_id": "",
        "user": "return msg.payload",
        "system": "return \"Generate PlantUML activity diagram based on input. No comments or explanations, pure plantuml, without any additional start/begin tags.\"",
        "historyLimit": 7,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "c58ae279e87c0352"
            ]
        ]
    },
    {
        "id": "2df4a519f6893937",
        "type": "template",
        "z": "9d6b8c38551dd5ee",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n\n<img src=\"/behavior.png\"\n     alt=\"Output\"\n     style=\"max-width:100%;height:auto;\" />\n\n</body>\n</html>\n",
        "output": "str",
        "x": 1190,
        "y": 380,
        "wires": [
            [
                "6f3460b17392afe1"
            ]
        ]
    },
    {
        "id": "b02ccc4ea3045f87",
        "type": "delay",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1040,
        "y": 380,
        "wires": [
            [
                "2df4a519f6893937"
            ]
        ]
    },
    {
        "id": "7aa4afe3a8e2fea3",
        "type": "file",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "filename": "C:\\Users\\Public\\behavior.plantuml",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 380,
        "wires": [
            [
                "b02ccc4ea3045f87"
            ]
        ]
    },
    {
        "id": "de1c861b23766655",
        "type": "file in",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "filename": "C:\\Users\\Public\\behavior.plantuml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "bf879a79042cb785",
                "116f5d90e00f34b2"
            ]
        ]
    },
    {
        "id": "bf879a79042cb785",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "Extract states",
        "func": "// Extract lines that represent activities `: ... ;`\nconst text = msg.payload;\nconst lines = text.split(/\\r?\\n/);\n\n// Collect every activity between : and ;\nlet activities = [];\n\nfor (let line of lines) {\n    const match = line.match(/^\\s*:(.+?);/);\n    if (match) {\n        // Normalize similar actions like True/False\n        let act = match[1].trim();\n\n        // Remove trailing \"to True/False\"\n        act = act.replace(/ to (True|False)$/i, \"\");\n\n        // Remove semicolons, extra spaces\n        act = act.trim();\n\n        if (!activities.includes(act)) {\n            activities.push(act);\n        }\n    }\n}\n\nmsg.activities = activities;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 720,
        "wires": [
            [
                "1636d9cc35ad9415",
                "860a0ae19499ecbc"
            ]
        ]
    },
    {
        "id": "1636d9cc35ad9415",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "Check",
        "func": "// ----- Normalize activities -----\nconst activities = Array.isArray(msg.activities) ? msg.activities : [];\n\n// ----- Normalize rules input -----\nlet rules = [];\nif (Array.isArray(msg.rules)) {\n    rules = msg.rules;\n} else if (typeof msg.rules === \"string\") {\n    rules = msg.rules\n        .split(/\\r?\\n/)\n        .map(r => r.trim())\n        .filter(r => r);\n} else {\n    rules = [];\n}\n\nlet results = [];\nlet passed = true;\n\n// ----- Find the first activity containing a keyword (substring) -----\nfunction findActivityIndex(keyword) {\n    const kw = keyword.toLowerCase();\n    for (let i = 0; i < activities.length; i++) {\n        if (activities[i].toLowerCase().includes(kw)) {\n            return i;\n        }\n    }\n    return -1;\n}\n\n// ----- Evaluate each rule \"a before b\" -----\nrules.forEach(rule => {\n    const parts = rule.split(/before/i);\n    if (parts.length !== 2) {\n        results.push(`Invalid rule: ${rule}`);\n        passed = false;\n        return;\n    }\n\n    const kw1 = parts[0].trim();\n    const kw2 = parts[1].trim();\n\n    const pos1 = findActivityIndex(kw1);\n    const pos2 = findActivityIndex(kw2);\n\n    if (pos1 === -1) {\n        results.push(`No UML activity contains \"${kw1}\"`);\n        passed = false;\n    } else if (pos2 === -1) {\n        results.push(`No UML activity contains \"${kw2}\"`);\n        passed = false;\n    } else if (pos1 < pos2) {\n        results.push(`OK: \"${kw1}\" occurs before \"${kw2}\"`);\n    } else {\n        results.push(`FAIL: \"${kw1}\" does NOT occur before \"${kw2}\"`);\n        passed = false;\n    }\n});\n\n// ----- Output -----\nmsg.payload = { passed, results, activities };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "82b5c98738db9479",
                "999fba97844ac1f3"
            ]
        ]
    },
    {
        "id": "4c32d48b505ae9e2",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.rules = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 780,
        "wires": [
            [
                "de1c861b23766655"
            ]
        ]
    },
    {
        "id": "10fbbc1d95fa235d",
        "type": "http in",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "url": "/checkRules",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 860,
        "wires": [
            [
                "4c32d48b505ae9e2"
            ]
        ]
    },
    {
        "id": "8c016a1392a92624",
        "type": "http response",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1370,
        "y": 680,
        "wires": []
    },
    {
        "id": "860a0ae19499ecbc",
        "type": "debug",
        "z": "9d6b8c38551dd5ee",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 840,
        "wires": []
    },
    {
        "id": "82b5c98738db9479",
        "type": "debug",
        "z": "9d6b8c38551dd5ee",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 820,
        "wires": []
    },
    {
        "id": "116f5d90e00f34b2",
        "type": "debug",
        "z": "9d6b8c38551dd5ee",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 860,
        "wires": []
    },
    {
        "id": "a357514874b7a0a1",
        "type": "debug",
        "z": "9d6b8c38551dd5ee",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 800,
        "wires": []
    },
    {
        "id": "999fba97844ac1f3",
        "type": "template",
        "z": "9d6b8c38551dd5ee",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div style=\"font-family:sans-serif; padding:10px;\">\n\n  <h3>Rule Check Status</h3>\n\n  <p>\n    Status:\n    <strong style=\"color: {{payload.passed ? 'green' : 'red'}}\">\n      {{payload.passed ? 'PASSED' : 'FAILED'}}\n    </strong>\n  </p>\n\n  <h4>Results:</h4>\n  <ul>\n  {{#payload.results}}\n    <li>{{.}}</li>\n  {{/payload.results}}\n  </ul>\n\n  <h4>Parsed Activities:</h4>\n  <ul>\n  {{#payload.activities}}\n    <li>{{.}}</li>\n  {{/payload.activities}}\n  </ul>\n\n</div>\n",
        "output": "str",
        "x": 1210,
        "y": 680,
        "wires": [
            [
                "8c016a1392a92624",
                "a357514874b7a0a1"
            ]
        ]
    },
    {
        "id": "41ed0d362a317dc9",
        "type": "http response",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1430,
        "y": 1320,
        "wires": []
    },
    {
        "id": "2d0f857866146511",
        "type": "http in",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "url": "/constructRules",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1240,
        "wires": [
            [
                "49a885409ac073e8"
            ]
        ]
    },
    {
        "id": "49a885409ac073e8",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload.user = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1140,
        "wires": [
            [
                "6bfeea9640964728"
            ]
        ]
    },
    {
        "id": "0b065ec1847f592e",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "post-process LLM response",
        "func": "msg.payload = msg.payload[0].args.response;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1300,
        "wires": [
            [
                "dfd7eb49407012df"
            ]
        ]
    },
    {
        "id": "92289616a69f45f1",
        "type": "LLM Chat",
        "z": "9d6b8c38551dd5ee",
        "name": "Construct rules",
        "platform": "fca7f12e28e98b4c",
        "tools": "",
        "tool_choice": "none",
        "conversation_id": "",
        "user": "return msg.payload",
        "system": "return \"Generate sequence validation rules in form a1 before a2 where a1 and a2 are activities, based on behavioral model:\"+msg.payload+\".No comments or explanations added, only rules should be generated. No numbering, just new line to searate them.\"",
        "historyLimit": 7,
        "x": 580,
        "y": 1160,
        "wires": [
            [
                "0b065ec1847f592e"
            ]
        ]
    },
    {
        "id": "dfd7eb49407012df",
        "type": "file",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "filename": "C:\\Users\\Public\\rules.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1050,
        "y": 1180,
        "wires": [
            [
                "41ed0d362a317dc9"
            ]
        ]
    },
    {
        "id": "6bfeea9640964728",
        "type": "file in",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "filename": "C:\\Users\\Public\\behavior.plantuml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "92289616a69f45f1"
            ]
        ]
    },
    {
        "id": "6272ab54aca48825",
        "type": "http response",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1950,
        "y": 1620,
        "wires": []
    },
    {
        "id": "9b276d6fc5727df2",
        "type": "http in",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "url": "/analyzeValues",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1600,
        "wires": [
            [
                "9684ceec8fd992e9"
            ]
        ]
    },
    {
        "id": "9684ceec8fd992e9",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload.user = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1500,
        "wires": [
            [
                "7796833344d27267"
            ]
        ]
    },
    {
        "id": "f35f35612b225034",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "post-process LLM response",
        "func": "msg.payload = msg.payload[0].args.response;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1660,
        "wires": [
            [
                "6d3350159a5af110"
            ]
        ]
    },
    {
        "id": "7796833344d27267",
        "type": "LLM Chat",
        "z": "9d6b8c38551dd5ee",
        "name": "Construct rules",
        "platform": "fca7f12e28e98b4c",
        "tools": "",
        "tool_choice": "none",
        "conversation_id": "",
        "user": "return msg.payload",
        "system": "return \"Extract configuratio parameters in CSV format: name, value, one per line based on given configuration file. Pure CSV without any comments or additional content or delimiters.\"",
        "historyLimit": 7,
        "x": 580,
        "y": 1520,
        "wires": [
            [
                "f35f35612b225034"
            ]
        ]
    },
    {
        "id": "6d3350159a5af110",
        "type": "file",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "filename": "C:\\Users\\Public\\values.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1050,
        "y": 1540,
        "wires": [
            [
                "74179a40c05232de"
            ]
        ]
    },
    {
        "id": "d32ad48b14dafcab",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "function 1",
        "func": "//\n// Expect:\n// msg.values = CSV string \"name,value\"\n// msg.rules  = CSV string \"name,min,max\" or \"name,allowed,allowed\"\n//\nmsg.rules = msg.payload\n\n\nfunction parseCsv(str) {\n    return str\n        .trim()\n        .split(/\\r?\\n/)\n        .map(l => l.split(',').map(f => f.trim()));\n}\n\n// Parse VALUES\nlet valuesCsv = typeof msg.values === \"string\" ? parseCsv(msg.values) : [];\nlet values = {};\nvaluesCsv.forEach(([name, val]) => {\n    if (name) values[name.toLowerCase()] = val;\n});\n\n// Parse RULES\nlet rulesCsv = typeof msg.rules === \"string\" ? parseCsv(msg.rules) : [];\nlet rules = {};\nlet header = rulesCsv.shift();   // expect name,min,max or name,allowed\nrulesCsv.forEach(([name, v1, v2]) => {\n    if (!name) return;\n\n    let key = name.toLowerCase();\n    if (v2 !== undefined && v2 !== \"\") {\n        // numeric range rule\n        rules[key] = {\n            type: \"range\",\n            min: isNaN(+v1) ? v1 : +v1,\n            max: isNaN(+v2) ? v2 : +v2\n        };\n    } else {\n        // single allowed value or list\n        rules[key] = {\n            type: \"allowed\",\n            allowed: v1.split('|').map(a => a.trim().toLowerCase())\n        };\n    }\n});\n\nlet results = [];\nlet passed = true;\n\n// Evaluate\nfor (let key in values) {\n    const raw = values[key];\n    const rule = rules[key];\n\n    if (!rule) {\n        results.push(`WARN: no rule for \"${key}\", value=\"${raw}\"`);\n        continue;\n    }\n\n    // boolean test\n    if (raw === \"true\" || raw === \"false\") {\n        let bval = raw === \"true\";\n        if (rule.type === \"allowed\") {\n            if (rule.allowed.includes(raw.toLowerCase())) {\n                results.push(`OK: ${key}=\"${raw}\" allowed`);\n            } else {\n                results.push(`FAIL: ${key}=\"${raw}\" not allowed`);\n                passed = false;\n            }\n        } else {\n            // numeric rule doesn't apply\n            results.push(`WARN: ${key} is boolean, rules expect numeric`);\n        }\n    }\n\n    // numeric test\n    else if (!isNaN(+raw)) {\n        let n = +raw;\n        if (rule.type === \"range\") {\n            if (n >= rule.min && n <= rule.max) {\n                results.push(`OK: ${key}=${n} in [${rule.min},${rule.max}]`);\n            } else {\n                results.push(`FAIL: ${key}=${n} outside [${rule.min},${rule.max}]`);\n                passed = false;\n            }\n        } else {\n            results.push(`WARN: ${key} numeric but rules expect allowed`);\n        }\n    }\n\n    // string enum test\n    else {\n        if (rule.type === \"allowed\") {\n            if (rule.allowed.includes(raw.toLowerCase())) {\n                results.push(`OK: ${key}=\"${raw}\" allowed`);\n            } else {\n                results.push(`FAIL: ${key}=\"${raw}\" not allowed`);\n                passed = false;\n            }\n        } else {\n            results.push(`WARN: ${key} string but rule is numeric`);\n        }\n    }\n}\n\nmsg.payload = { passed, results, values: valuesCsv, rules: rulesCsv };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1620,
        "wires": [
            [
                "739c7247f55135f3"
            ]
        ]
    },
    {
        "id": "a6ea6404432ddd29",
        "type": "file in",
        "z": "9d6b8c38551dd5ee",
        "name": "",
        "filename": "C:\\Users\\Public\\ranges.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1450,
        "y": 1520,
        "wires": [
            [
                "d32ad48b14dafcab"
            ]
        ]
    },
    {
        "id": "74179a40c05232de",
        "type": "function",
        "z": "9d6b8c38551dd5ee",
        "name": "function 2",
        "func": "msg.values = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1620,
        "wires": [
            [
                "a6ea6404432ddd29"
            ]
        ]
    },
    {
        "id": "739c7247f55135f3",
        "type": "template",
        "z": "9d6b8c38551dd5ee",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div style=\"font-family:sans-serif; padding:10px;\">\n\n  <h3>Value Check Status</h3>\n\n  <p>\n    Status:\n    <strong style=\"color: {{payload.passed ? 'green' : 'red'}}\">\n      {{payload.passed ? 'PASSED' : 'FAILED'}}\n    </strong>\n  </p>\n\n  <h4>Results:</h4>\n  <ul>\n  {{#payload.results}}\n    {{# . }}\n    <li \n      style=\"color: \n        {{#startsWithOK .}}green{{/startsWithOK .}}\n        {{#startsWithFAIL .}}red{{/startsWithFAIL .}}\n        {{#startsWithWARN .}}orange{{/startsWithWARN .}}\n      \">\n      {{.}}\n    </li>\n    {{/ . }}\n  {{/payload.results}}\n  </ul>\n\n</div>\n",
        "output": "str",
        "x": 1830,
        "y": 1520,
        "wires": [
            [
                "6272ab54aca48825"
            ]
        ]
    },
    {
        "id": "fca7f12e28e98b4c",
        "type": "platform-configuration",
        "name": "prompt 1",
        "platform": "gpt",
        "url": "",
        "model": "gpt-4o"
    },
    {
        "id": "2e9f7673cf25a676",
        "type": "global-config",
        "env": [],
        "modules": {
            "@technithusiast/node-red-contrib-ai-intent": "3.2.4"
        }
    }
]