toolchain_flow.json
[
    {
        "id": "a0df0659c8e1e90f",
        "type": "tab",
        "label": "IoT safety",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b67f56b1f0b5ef78",
        "type": "http in",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "url": "/currentBehaviorModel",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "1701738b17552b93"
            ]
        ]
    },
    {
        "id": "1701738b17552b93",
        "type": "template",
        "z": "a0df0659c8e1e90f",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n\n<img src=\"/behavior.png\"\n     alt=\"Output\"\n     style=\"max-width:100%;height:auto;\" />\n\n</body>\n</html>\n",
        "output": "str",
        "x": 530,
        "y": 580,
        "wires": [
            [
                "29029c1834e38a93"
            ]
        ]
    },
    {
        "id": "29029c1834e38a93",
        "type": "http response",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "dbb21e09613712f3",
        "type": "http response",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 480,
        "wires": []
    },
    {
        "id": "2978574d56949b2d",
        "type": "http in",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "url": "/analyzeScript",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "0d4eaae98b8d2748"
            ]
        ]
    },
    {
        "id": "0d4eaae98b8d2748",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload.user = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 260,
        "wires": [
            [
                "57ac3778fc5e02b4"
            ]
        ]
    },
    {
        "id": "576c794b59cd2cbc",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "post-process LLM response",
        "func": "msg.payload = msg.payload[0].args.response;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "ee09329d8bde1989"
            ]
        ]
    },
    {
        "id": "ee09329d8bde1989",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "Render PlantUML",
        "func": "var gen = plantuml.generate(msg.payload);\ngen.out.pipe(fs.createWriteStream(\"C:/Users/Public/behavior.png\"));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "plantuml",
                "module": "node-plantuml"
            },
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 910,
        "y": 260,
        "wires": [
            [
                "7c8d286c40a8e29a",
                "1690acaeae660976"
            ]
        ]
    },
    {
        "id": "7c8d286c40a8e29a",
        "type": "debug",
        "z": "a0df0659c8e1e90f",
        "name": "Preview PlantUML",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "57ac3778fc5e02b4",
        "type": "LLM Chat",
        "z": "a0df0659c8e1e90f",
        "name": "Construct activity diagram",
        "platform": "fca7f12e28e98b4c",
        "tools": "",
        "tool_choice": "none",
        "conversation_id": "",
        "user": "return msg.payload",
        "system": "return \"Generate PlantUML activity diagram based on input. No comments or explanations, pure plantuml, without any additional start/begin tags.\"",
        "historyLimit": 7,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "576c794b59cd2cbc"
            ]
        ]
    },
    {
        "id": "d25b5c33a5862957",
        "type": "template",
        "z": "a0df0659c8e1e90f",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n\n<img src=\"/behavior.png\"\n     alt=\"Output\"\n     style=\"max-width:100%;height:auto;\" />\n\n</body>\n</html>\n",
        "output": "str",
        "x": 1190,
        "y": 380,
        "wires": [
            [
                "dbb21e09613712f3"
            ]
        ]
    },
    {
        "id": "769e4f5ab7f6eb5d",
        "type": "delay",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1040,
        "y": 380,
        "wires": [
            [
                "d25b5c33a5862957"
            ]
        ]
    },
    {
        "id": "1690acaeae660976",
        "type": "file",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "filename": "C:\\Users\\Public\\behavior.plantuml",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 380,
        "wires": [
            [
                "769e4f5ab7f6eb5d"
            ]
        ]
    },
    {
        "id": "5592e1042f1c2916",
        "type": "file in",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "filename": "C:\\Users\\Public\\behavior.plantuml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "89463d124a480736",
                "4547e5a89319840c"
            ]
        ]
    },
    {
        "id": "89463d124a480736",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "Extract states",
        "func": "// Extract lines that represent activities `: ... ;`\nconst text = msg.payload;\nconst lines = text.split(/\\r?\\n/);\n\n// Collect every activity between : and ;\nlet activities = [];\n\nfor (let line of lines) {\n    const match = line.match(/^\\s*:(.+?);/);\n    if (match) {\n        // Normalize similar actions like True/False\n        let act = match[1].trim();\n\n        // Remove trailing \"to True/False\"\n        act = act.replace(/ to (True|False)$/i, \"\");\n\n        // Remove semicolons, extra spaces\n        act = act.trim();\n\n        if (!activities.includes(act)) {\n            activities.push(act);\n        }\n    }\n}\n\nmsg.activities = activities;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 720,
        "wires": [
            [
                "fc1babd763afda1a",
                "ce01bd34b4c2c5e5"
            ]
        ]
    },
    {
        "id": "fc1babd763afda1a",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "Check",
        "func": "// ----- Normalize activities -----\nconst activities = Array.isArray(msg.activities) ? msg.activities : [];\n\n// ----- Normalize rules input -----\nlet rules = [];\nif (Array.isArray(msg.rules)) {\n    rules = msg.rules;\n} else if (typeof msg.rules === \"string\") {\n    rules = msg.rules\n        .split(/\\r?\\n/)\n        .map(r => r.trim())\n        .filter(r => r);\n} else {\n    rules = [];\n}\n\nlet results = [];\nlet passed = true;\n\n// ----- Find the first activity containing a keyword (substring) -----\nfunction findActivityIndex(keyword) {\n    const kw = keyword.toLowerCase();\n    for (let i = 0; i < activities.length; i++) {\n        if (activities[i].toLowerCase().includes(kw)) {\n            return i;\n        }\n    }\n    return -1;\n}\n\n// ----- Evaluate each rule \"a before b\" -----\nrules.forEach(rule => {\n    const parts = rule.split(/before/i);\n    if (parts.length !== 2) {\n        results.push(`Invalid rule: ${rule}`);\n        passed = false;\n        return;\n    }\n\n    const kw1 = parts[0].trim();\n    const kw2 = parts[1].trim();\n\n    const pos1 = findActivityIndex(kw1);\n    const pos2 = findActivityIndex(kw2);\n\n    if (pos1 === -1) {\n        results.push(`No UML activity contains \"${kw1}\"`);\n        passed = false;\n    } else if (pos2 === -1) {\n        results.push(`No UML activity contains \"${kw2}\"`);\n        passed = false;\n    } else if (pos1 < pos2) {\n        results.push(`OK: \"${kw1}\" occurs before \"${kw2}\"`);\n    } else {\n        results.push(`FAIL: \"${kw1}\" does NOT occur before \"${kw2}\"`);\n        passed = false;\n    }\n});\n\n// ----- Output -----\nmsg.payload = { passed, results, activities };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "6eac427ec051f015",
                "a21c1a006f4b8a2e"
            ]
        ]
    },
    {
        "id": "d9af87b1aea99f9c",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.rules = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 780,
        "wires": [
            [
                "5592e1042f1c2916"
            ]
        ]
    },
    {
        "id": "7db5b398fa48aa36",
        "type": "http in",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "url": "/checkRules",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 860,
        "wires": [
            [
                "d9af87b1aea99f9c"
            ]
        ]
    },
    {
        "id": "4960c5ba25b273d2",
        "type": "http response",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1370,
        "y": 680,
        "wires": []
    },
    {
        "id": "ce01bd34b4c2c5e5",
        "type": "debug",
        "z": "a0df0659c8e1e90f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 840,
        "wires": []
    },
    {
        "id": "6eac427ec051f015",
        "type": "debug",
        "z": "a0df0659c8e1e90f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 820,
        "wires": []
    },
    {
        "id": "4547e5a89319840c",
        "type": "debug",
        "z": "a0df0659c8e1e90f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 860,
        "wires": []
    },
    {
        "id": "2d6bcb72fe9d3d92",
        "type": "debug",
        "z": "a0df0659c8e1e90f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 800,
        "wires": []
    },
    {
        "id": "a21c1a006f4b8a2e",
        "type": "template",
        "z": "a0df0659c8e1e90f",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div style=\"font-family:sans-serif; padding:10px;\">\n\n  <h3>Rule Check Status</h3>\n\n  <p>\n    Status:\n    <strong style=\"color: {{payload.passed ? 'green' : 'red'}}\">\n      {{payload.passed ? 'PASSED' : 'FAILED'}}\n    </strong>\n  </p>\n\n  <h4>Results:</h4>\n  <ul>\n  {{#payload.results}}\n    <li>{{.}}</li>\n  {{/payload.results}}\n  </ul>\n\n  <h4>Parsed Activities:</h4>\n  <ul>\n  {{#payload.activities}}\n    <li>{{.}}</li>\n  {{/payload.activities}}\n  </ul>\n\n</div>\n",
        "output": "str",
        "x": 1210,
        "y": 680,
        "wires": [
            [
                "4960c5ba25b273d2",
                "2d6bcb72fe9d3d92"
            ]
        ]
    },
    {
        "id": "5f177a78334c873b",
        "type": "http response",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1430,
        "y": 1320,
        "wires": []
    },
    {
        "id": "4732ecf5fcd12d30",
        "type": "http in",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "url": "/constructRules",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1240,
        "wires": [
            [
                "d3b3100ab75a1db5"
            ]
        ]
    },
    {
        "id": "d3b3100ab75a1db5",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload.user = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1140,
        "wires": [
            [
                "1647c6469d31b01e"
            ]
        ]
    },
    {
        "id": "9d17a483d2813689",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "post-process LLM response",
        "func": "msg.payload = msg.payload[0].args.response;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1300,
        "wires": [
            [
                "d563c66aa75eef17"
            ]
        ]
    },
    {
        "id": "b9aeb1daf89ca6f8",
        "type": "LLM Chat",
        "z": "a0df0659c8e1e90f",
        "name": "Construct rules",
        "platform": "fca7f12e28e98b4c",
        "tools": "",
        "tool_choice": "none",
        "conversation_id": "",
        "user": "return msg.payload",
        "system": "return \"Generate sequence validation rules in form a1 before a2 where a1 and a2 are activities, based on behavioral model:\"+msg.payload+\".No comments or explanations added, only rules should be generated. No numbering, just new line to searate them.\"",
        "historyLimit": 7,
        "x": 580,
        "y": 1160,
        "wires": [
            [
                "9d17a483d2813689"
            ]
        ]
    },
    {
        "id": "d563c66aa75eef17",
        "type": "file",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "filename": "C:\\Users\\Public\\rules.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1050,
        "y": 1180,
        "wires": [
            [
                "5f177a78334c873b"
            ]
        ]
    },
    {
        "id": "1647c6469d31b01e",
        "type": "file in",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "filename": "C:\\Users\\Public\\behavior.plantuml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "b9aeb1daf89ca6f8"
            ]
        ]
    },
    {
        "id": "f00e3fe9187019c2",
        "type": "http response",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1350,
        "y": 1860,
        "wires": []
    },
    {
        "id": "40b2714cb63e99c9",
        "type": "http in",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "url": "/constructMetamodel",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 1760,
        "wires": [
            [
                "018161963f2d027b"
            ]
        ]
    },
    {
        "id": "018161963f2d027b",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload.user = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1640,
        "wires": [
            [
                "a4fef945b8bafd4e"
            ]
        ]
    },
    {
        "id": "de1c82720852e5c1",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "post-process LLM response",
        "func": "msg.payload = msg.payload[0].args.response;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1640,
        "wires": [
            [
                "0cc1a3bf8f549af4"
            ]
        ]
    },
    {
        "id": "bdaa4859c2b9f39f",
        "type": "debug",
        "z": "a0df0659c8e1e90f",
        "name": "Preview PlantUML",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 1540,
        "wires": []
    },
    {
        "id": "a4fef945b8bafd4e",
        "type": "LLM Chat",
        "z": "a0df0659c8e1e90f",
        "name": "Construct class diagram",
        "platform": "fca7f12e28e98b4c",
        "tools": "",
        "tool_choice": "none",
        "conversation_id": "",
        "user": "return msg.payload",
        "system": "return \"Generate simplified PlantUML class diagram based on input. No comments or explanations, pure plantuml, without any additional start/begin tags.\"",
        "historyLimit": 7,
        "x": 470,
        "y": 1520,
        "wires": [
            [
                "de1c82720852e5c1"
            ]
        ]
    },
    {
        "id": "7a96f8d46f5f5c1f",
        "type": "template",
        "z": "a0df0659c8e1e90f",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div style=\"font-family: monospace; white-space: pre-wrap;\">\n  <pre>{{payload}}</pre>\n</div>\n",
        "output": "str",
        "x": 1230,
        "y": 1760,
        "wires": [
            [
                "f00e3fe9187019c2"
            ]
        ]
    },
    {
        "id": "0cc1a3bf8f549af4",
        "type": "file",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "filename": "C:\\Users\\Public\\metamodel.plantuml",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1030,
        "y": 1620,
        "wires": [
            [
                "7a96f8d46f5f5c1f",
                "bdaa4859c2b9f39f"
            ]
        ]
    },
    {
        "id": "392f8185cc7f6608",
        "type": "http in",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "url": "/currentMetamodel",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 2000,
        "wires": [
            [
                "9e538e8a8fe3fc5a"
            ]
        ]
    },
    {
        "id": "9e538e8a8fe3fc5a",
        "type": "template",
        "z": "a0df0659c8e1e90f",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<body>\n\n<img src=\"/metamodel.png\"\n     alt=\"Output\"\n     style=\"max-width:100%;height:auto;\" />\n\n</body>\n</html>\n",
        "output": "str",
        "x": 530,
        "y": 2040,
        "wires": [
            [
                "c639c3fb4218cac9"
            ]
        ]
    },
    {
        "id": "c639c3fb4218cac9",
        "type": "http response",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 2000,
        "wires": []
    },
    {
        "id": "a92a70d1a8869349",
        "type": "http response",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1470,
        "y": 2300,
        "wires": []
    },
    {
        "id": "e28506d8b88a618f",
        "type": "http in",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "url": "/constructSystem",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 2440,
        "wires": [
            [
                "b98aee7963da1a64"
            ]
        ]
    },
    {
        "id": "b98aee7963da1a64",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "toBase64",
        "func": "msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload.user = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 2320,
        "wires": [
            [
                "e2c14fae41c96218"
            ]
        ]
    },
    {
        "id": "4a8e758f5521751d",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "post-process LLM response",
        "func": "msg.payload = msg.payload[0].args.response;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 2320,
        "wires": [
            [
                "ae8c7104840f10e0",
                "f90bbab450d89c1b"
            ]
        ]
    },
    {
        "id": "f90bbab450d89c1b",
        "type": "debug",
        "z": "a0df0659c8e1e90f",
        "name": "Preview XMI",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 2120,
        "wires": []
    },
    {
        "id": "6ff70e68f8d775af",
        "type": "LLM Chat",
        "z": "a0df0659c8e1e90f",
        "name": "Construct system",
        "platform": "fca7f12e28e98b4c",
        "tools": "",
        "tool_choice": "none",
        "conversation_id": "",
        "user": "return msg.payload",
        "system": "return \"Generate instance model in Ecore XMI format based on PlantUML class diagram used as metamodel. No comments or explanations, pure plantuml, without any comments, delimiters, additional start/begin tags. Metamodel is:\" + msg.payload;",
        "historyLimit": 7,
        "x": 690,
        "y": 2200,
        "wires": [
            [
                "4a8e758f5521751d"
            ]
        ]
    },
    {
        "id": "ae8c7104840f10e0",
        "type": "file",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "filename": "C:\\Users\\Public\\system.xmi",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1000,
        "y": 2320,
        "wires": [
            [
                "35f60274c34126c6"
            ]
        ]
    },
    {
        "id": "e2c14fae41c96218",
        "type": "file in",
        "z": "a0df0659c8e1e90f",
        "name": "",
        "filename": "C:\\Users\\Public\\metamodel.plantuml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 270,
        "y": 2140,
        "wires": [
            [
                "8677491172a9d7a6"
            ]
        ]
    },
    {
        "id": "8677491172a9d7a6",
        "type": "function",
        "z": "a0df0659c8e1e90f",
        "name": "function 3",
        "func": "msg.payload.metamodel = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2200,
        "wires": [
            [
                "6ff70e68f8d775af"
            ]
        ]
    },
    {
        "id": "35f60274c34126c6",
        "type": "template",
        "z": "a0df0659c8e1e90f",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div style=\"font-family: monospace; white-space: pre-wrap;\">\n  <pre>{{payload}}</pre>\n</div>\n",
        "output": "str",
        "x": 1250,
        "y": 2240,
        "wires": [
            [
                "a92a70d1a8869349"
            ]
        ]
    },
    {
        "id": "fca7f12e28e98b4c",
        "type": "platform-configuration",
        "name": "prompt 1",
        "platform": "gpt",
        "url": "",
        "model": "gpt-4o"
    },
    {
        "id": "10c2d66cd6c19726",
        "type": "global-config",
        "env": [],
        "modules": {
            "@technithusiast/node-red-contrib-ai-intent": "3.2.4"
        }
    }
]